**/omegat/project_stats.txt
*.bak
/Application/build/
/Application/dist/
/Application/nbproject/private/
/Localization/build/
/Localization/dist/
/Localization/nbproject/private/
/OmegaT/en-de.zip
/OmegaT/**/source/
/OmegaT/**/target/
/OmegaT/.*\.bak$
/dist_files/**
/scripts/conf/innosetup.properties
/scripts/conf/sourceforge.properties
/scripts/conf/website.properties
