Redirect permanent /JBirthdays/dist/JBirthdays-setup.exe http://sourceforge.net/projects/jbirthdays/files/downloads/JBirthdays-setup-0.4.1.exe/download
Redirect permanent /JBirthdays/dist/JBirthdays.zip   http://sourceforge.net/projects/jbirthdays/files/downloads/JBirthdays-0.4.1.zip/download
