Redirect permanent /dist/JBirthdays-setup.exe http://sourceforge.net/projects/jbirthdays/files/downloads/JBirthdays-setup-0.1.0.exe/download
Redirect permanent /dist/JBirthdays.zip   http://sourceforge.net/projects/jbirthdays/files/downloads/JBirthdays-0.1.0.zip/download
